@font-face {
  font-family: "League Spartan";
  src: url(./league_espartan/LeagueSpartan-Light.ttf);
  font-style: normal;
  font-weight: 100;
}
@font-face {
  font-family: "League Spartan";
  src: url(./league_espartan/LeagueSpartan-Medium.ttf);
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "League Spartan";
  src: url(./league_espartan/LeagueSpartan-Regular.ttf);
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "League Spartan";
  src: url(./league_espartan/LeagueSpartan-Bold.ttf);
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "League Spartan";
  src: url(./league_espartan/LeagueSpartan-Black.ttf);
  font-style: normal;
  font-weight: 900;
}
