/* *SERIFT */
@font-face {
  src: url(./Untitled-Serif/TestUntitledSerif-Medium.otf);
  font-style: normal;
  font-family: "Untitled Serif";
  font-weight: 500;
}
@font-face {
  src: url(./Untitled-Serif/TestUntitledSerif-Regular.otf);
  font-style: normal;
  font-family: "Untitled Serif";
  font-weight: 300;
}
@font-face {
  src: url(./Untitled-Serif/TestUntitledSerif-Bold.otf);
  font-style: normal;
  font-family: "Untitled Serif";
  font-weight: 700;
}

/* *SANS */
@font-face {
  src: url(./Untitled-Sans/TestUntitledSans-Light.otf);
  font-style: normal;
  font-family: "Untitled Sans";
  font-weight: 100;
}
@font-face {
  src: url(./Untitled-Sans/TestUntitledSans-Regular.otf);
  font-style: normal;
  font-family: "Untitled Sans";
  font-weight: 300;
}
@font-face {
  src: url(./Untitled-Sans/TestUntitledSans-Medium.otf);
  font-style: normal;
  font-family: "Untitled Sans";
  font-weight: 500;
}
@font-face {
  src: url(./Untitled-Sans/TestUntitledSans-Bold.otf);
  font-style: normal;
  font-family: "Untitled Sans";
  font-weight: 700;
}

@font-face {
  src: url(./Untitled-Sans/TestUntitledSans-Black.otf);
  font-style: normal;
  font-family: "Untitled Sans";
  font-weight: 900;
}
