@media screen and (max-width: 767px) {
  .titulo-banner {
    font-size: 26px;
    line-height: 37px;
  }

  .paragraph {
    max-width: 600px;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .paragraph > p {
    font-size: 14px;
  }
  .logo {
    text-align: center;
    margin: 0;
    text-indent: inherit;
  }

  /* ยบ2 */

  .info {
    font-size: 40px;
  }

  .yes-no {
    margin-top: 30px;
  }

  svg {
    width: 120px;
    height: 100px;
  }

  /* pagina 2 */
}

@media screen and (max-width: 576px) {
  .copy-texto {
    padding-left: 5px;
    padding-right: 5px;
  }

  .copy-texto:nth-child(1)::after,
  .copy-texto:nth-child(2)::after,
  .copy-texto:nth-child(3)::after {
    right: -2.5px;
  }
  .copy-texto,
  .p-copy {
    font-size: 8px;
  }

  /* pagina 2 */
  .swiper-slide:nth-child(2) {
    padding-top: 100px;
    gap: 0;
  }
  .info {
    font-size: 24px;
  }
  .yes-no {
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }

  svg {
    width: 100px;
    height: 80px;
  }
}
