@media screen and (max-width: 576px) {
  .copy-texto {
    padding-left: 5px;
    padding-right: 5px;
  }

  .copy-texto:nth-child(1)::after,
  .copy-texto:nth-child(2)::after {
    right: -2.5px;
  }
  .copy-texto,
  .p-copy {
    font-size: 8px;
  }

  /* pagina 2 */
  .swiper-slide:nth-child(2) {
    padding-top: 100px;
    gap: 0;
    justify-content: space-between;
  }
  .info {
    font-size: 24px;
  }
  .yes-no {
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }

  svg {
    width: 100px;
    height: 80px;
  }

  /*º3 */
  .swiper-slide:nth-child(3) {
    padding-top: 100px;
    justify-content: space-between;
  }

  /* 4 */
  .swiper-slide:nth-child(4) {
    padding-top: 100px;
    justify-content: space-between;
  }

  /* .btn-submit {
    font-size: 17px;
  } */

  .fs-sm-17 {
    font-size: 17px;
  }

  .fs-sm-18 {
    font-size: 18px;
  }

  .fs-sm-50 {
    font-size: 50px;
  }

  .title-banner {
    font-size: 24px;
  }
}

@media screen and (max-width: 610px) {
  /* 3 */
  .initial-num,
  .last-num {
    font-size: 17px;
  }
  .initial-num::before {
    left: 0;
  }
  .last-num::before {
    right: 0;
  }
}

@media screen and (max-width: 767px) {
  .titulo-banner {
    font-size: 26px;
    line-height: 37px;
  }

  .paragraph {
    max-width: 600px;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .paragraph > p {
    font-size: 14px;
  }
  .logo {
    text-align: center;
    margin: 0;
    text-indent: inherit;
  }

  /* º2 */

  .info {
    font-size: 30px;
  }

  .yes-no {
    margin-top: 30px;
  }

  svg {
    width: 120px;
    height: 100px;
  }

  /* pagina 3 */
  .sub-info {
    font-size: 17px;
  }
  /* 4 */
  /* 6 */
  .min-title {
    font-size: 25px;
  }

  .note {
    font-size: 17px;
  }
  /* clases */
  .h-md-55 {
    height: 55px;
  }

  .fs-md-18 {
    font-size: 18px;
  }

  .fs-md-22 {
    font-size: 22px;
  }

  .w-md-100 {
    width: 100% !important;
  }
}

@media screen and (min-width: 768px) {
  .w-md-min-100 {
    width: 100%;
  }

  .border-video {
    width: 100%;
  }

  .ml-md-30p {
    margin-left: 30px;
  }
}

@media screen and (min-width: 992px) {
  .w-lg-fit-content {
    width: fit-content;
  }

  .nav-fixed {
    max-width: 960px;
    position: fixed;
    top: 0;
    /* background-color: white; */
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
  }

  .mt-lg-nev-45 {
    margin-top: -45px;
  }

  .mt-lg-120 {
    margin-top: 120px;
  }
}

@media screen and (min-width: 1200px) {
  .w-xl-140p {
    width: 140px;
  }

  .m-xl-0 {
    margin: 0;
  }

  .nav-fixed {
    max-width: 1250px;
  }

  .container {
    max-width: 1250px;
  }
}
