html,
body {
  position: relative;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h5 {
  margin: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: red;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.swiper-slide:nth-child(1) {
  background-image: url(../image/fondo-principal.jpg);
  background-size: cover;
  background-position: center 10%;
  background-repeat: no-repeat;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 40px;
}

.swiper-slide:nth-child(2) {
  overflow-y: auto;
  padding-top: 150px;
  background-color: #203447;
  justify-content: start;
  flex-direction: column;
  gap: 50px;
}

.swiper-slide:nth-child(3) {
  padding-top: 140px;
  background-color: #203447;
  justify-content: start;
  flex-direction: column;
}

.swiper-slide:nth-child(4) {
  overflow-y: auto;
  padding-top: 70px;
  background-color: #203447;
  justify-content: start;
  flex-direction: column;
}

.swiper-slide:nth-child(5) {
  overflow: auto;
  padding-top: 100px;
  background-color: #203447;
  justify-content: start;
  flex-direction: column;
}

.swiper-slide:nth-child(6) {
  overflow: auto;
  padding-top: 100px;
  background-color: #203447;
  justify-content: start;
  flex-direction: column;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* svg */ /* *componentes */
.logo {
  margin-top: 50px;
  width: 100%;
  height: fit-content;
  text-align: left;
  text-indent: 70px;
}
.logo > h4 > a {
  text-decoration: none;
  font-size: 30px;
  color: white;
}
.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  font-size: 33px;
  fill: currentColor;
  background-color: red;
}
.icon-sunrun-logo {
  padding: 0px;
  width: 200px !important;
  margin-top: 23px;
  fill: #fff !important;
}

.titulo-banner {
  color: white;
  font-weight: 800;
  line-height: 1;
  font-family: "Untitled Serif";
  font-size: 43.86px;
}

/* form banner */
.for-code,
form {
  display: block;
}

.search {
  max-width: 290px;
  height: 57px;
  margin-bottom: 20px;
  color: #222;
  font-size: 18px;
  font-family: "Untitled Sans";
  text-align: center;
  font-weight: bold;
  border: 2px solid #cccccc;
}

.paragraph {
  margin-bottom: 60px;
  max-width: 870px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}

.paragraph > p {
  font-size: 25px;
  color: #fff;
  margin: 0;
}

.btn-submit {
  cursor: pointer;
  background-color: #00b085;
  color: #ffffff;
  padding: 15px;
  border: 0px;
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 700;
  font-family: "Untitled Sans";
  border-radius: 100px;
  width: 100%;
  max-width: 290px;
  margin: 0 auto;
  text-decoration: none;
  transition: 0.3s;
}

.btn-submit:hover {
  background-color: #157245;
  color: white;
}

.search:focus {
  box-shadow: none;
  outline: none;
  border: 2px solid #cccccc;
}

.text-copy {
  padding-bottom: 5px;
}

.copy-texto {
  position: relative;
  padding-right: 10px;
  padding-left: 10px;
  font-size: 10px;
}

.copy-texto:nth-child(1)::after,
.copy-texto:nth-child(2)::after,
.copy-texto:nth-child(3)::after {
  position: absolute;
  content: "";
  width: 1px;
  height: 100%;
  right: -0.5px;
  bottom: 0;

  border-right: 2px solid white;
}

.p-copy {
  color: #c0c0c0;
  text-align: center;
  font-size: 10px;
}
/* *Pagina 2 componentes */
.main-part {
  margin-bottom: 70px;
}
.num {
  position: relative;
  font-size: 26px;
  font-weight: 600;
  text-align: center;
  border-radius: 50%;
  border: 2px solid #fff;
  display: inline-block;
  width: 35px;
  height: 35px;
  line-height: 34px;
}

.num::after {
  content: "";
  display: block;
  position: absolute;
  width: 65px;
  height: 1px;
  background-color: #fff;
  top: 16px;
  right: 50px;
}

.num::before {
  content: "";
  display: block;
  position: absolute;
  width: 65px;
  height: 1px;
  background-color: #fff;
  top: 16px;
  left: 50px;
}
.info {
  max-width: 900px;
  margin-top: 20px;
  font-size: 54px;
  font-family: serif;
  letter-spacing: 1px;
}

.yes-no {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 60px;
}
.check-icon,
.x-icon {
  max-width: 170px;
  max-height: 150px;
  cursor: pointer;
  display: block;
}

.icon-color {
  object-fit: contain !important;
  color: white;
  transition: 0.2s all;
}

svg > g > path {
  transition: 0.3s all;
}

.check-icon:hover > svg > g > path {
  fill: #64a729;
}

.x-icon:hover > svg > g > path {
  fill: #ca272b;
}

.text-questions {
  margin-top: 10px;
  font-size: 19px;
}

/* *º3 */

.sub-info {
  margin-top: 20px;
  margin-bottom: 10px;
  color: white;
  font-size: 25px;
  text-align: center;
}

.form-ranger {
  margin-top: 50px;
  max-width: 600px;
}

.ranger {
  margin: auto;
  max-width: 570px;
  height: 78px;

  display: flex;
  align-items: center;
}

.num-ranger {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.initial-num,
.last-num {
  position: relative;
  color: white;
  font-size: 25px;
  font-family: "Untitled Sans";
  font-weight: bolder;
}

.initial-num::before {
  content: "";
  position: absolute;
  top: -30px;
  height: 30px;
  left: 20px;
  width: 3px;
  background-color: white;
}

.last-num:before {
  content: "";
  position: absolute;
  top: -30px;
  height: 30px;
  right: 20px;
  width: 3px;
  background-color: white;
}
/* *06 */
.input-check-phone {
  font-size: 11px;
  /* font-family: "Untitled Sans"; */
}

/**text color  */
.text-black {
  color: #000;
}

/* *max-width */
.max-120 {
  max-width: 120px;
}
.max-250 {
  max-width: 250px;
}

.max-550 {
  max-width: 550px;
}

.max-unset {
  max-width: unset;
}

.h-70px {
  height: 71px;
}

/* *margin */
.mt-nev-45 {
  margin-top: -45px;
}

/* *transfor */
/* ?rotate */
.tr-rotate-20 {
  transform: rotate(20deg);
}

.tr-rotate-360 {
  transform: rotate(360deg);
}

/* *font-size */
.fs-24 {
  font-size: 24px;
}

.fs-10px {
  font-size: 10px;
}
